[Unit]
Description=DPL Service for {{ name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
KillMode=mixed
TimeoutStopFailureMode=abort
ExecStart={{ dpl_bin }} --base {{ dpl_base }} start {{ name }}
ExecStop={{ dpl_bin }} --base {{ dpl_base }} stop {{ name }}
Restart=no {#- will be changed to "always" after health check #}
RestartSec=2

[Install]
WantedBy=multi-user.target
