{% set container_name = "dpl-" ~ name -%}
{% set image_name = "localhost/" ~ name ~ ":" ~ version -%}

[Unit]
Description=DPL Service for {{ name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
KillMode=mixed
TimeoutStopFailureMode=abort
ExecStartPre=/bin/mkdir -p /var/log/podman
ExecStartPre=/usr/bin/podman network create --ignore dpl
ExecStartPre=-/usr/bin/rm -f %t/%N.cid
{% for database in databases %}
ExecStartPre={{ dpl_bin }} --base {{ dpl_base }} db wait {{ database }}
{% endfor %}
ExecStart=/usr/bin/podman run \
  --name {{ container_name }} \
  --cidfile=%t/%N.cid \
  --replace --rm \
  --cgroups=split \
  --sdnotify=conmon \
  --network=dpl \
  -p 127.0.0.1:{{ host_port }}:{{ container_port }} \
{% for volume in volumes %}
  -v {{ volume.source }}:{{ volume.path }} \
{% endfor %}
  --log-driver=k8s-file --log-opt=path=/var/log/podman/{{ container_name }}.log \
  {{ image_name }}
ExecStop=/usr/bin/podman stop --cidfile=%t/%N.cid --ignore
ExecStopPost=-/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid --ignore
ExecStopPost=-/usr/bin/rm -f %t/%N.cid
Restart=no {#- will be changed to "always" after health check #}
RestartSec=2

[Install]
WantedBy=multi-user.target
