#!/bin/sh
set -eu

if [ $# -eq 0 ]; then
{% if init -%}
{{ init }}
{% endif -%}
exec {{ cmd }}
fi

case "$1" in
{% for timer in timers -%}
timer--{{ timer.name }})
{{ timer.script }}
;;
{% endfor -%}
*)
echo "unknown command: $1" >&2
exit 1
;;
esac
