[Unit]
Description=dpl deployment service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=DPL_PORT=6060
ExecStart=/usr/local/bin/dpl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
