[Unit]
Description=DPL Service for {{ name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
KillMode=mixed
TimeoutStopFailureMode=abort
ExecStart=/usr/bin/podman run --name dpl-{{ name }} --cidfile=%t/%N.cid --replace --rm --cgroups=split --sdnotify=conmon -p 127.0.0.1:{{ host_port }}:{{ container_port }}{% for volume in volumes %} -v {{ volume.source }}:{{ volume.path }}{% endfor %} --log-driver=k8s-file --log-opt=path=/var/log/podman/dpl-{{ name }}.log localhost/{{ image_tag }}
ExecStop=/usr/bin/podman stop --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/rm -f %t/%N.cid
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
