#!/bin/sh
set -eu
{% for key, value in env|items -%}
{% set heredoc = "EOF_" ~ cuid() %}
export {{key}}=$(cat <<'{{heredoc}}'
{{value}}
{{heredoc}}
)
{% endfor -%}

if [ $# -eq 0 ]; then
{% if init -%}
{{ init }}
{% endif -%}
exec {{ cmd }}
fi

case "$1" in
{% for timer in timers -%}
{{ timer.name }})
{{ timer.script }}
;;
{% endfor -%}
*)
echo "unknown command: $1" >&2
exit 1
;;
esac
