[Unit]
Description=Deploy service for {{ name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/podman rm -f %N
ExecStart=/usr/bin/podman run --name %N --cidfile=%t/%N.cid --replace --rm --cgroups=split --sdnotify=conmon -p 127.0.0.1:{{ host_port }}:{{ container_port }}{% for volume in volumes %} -v {{ volume.id }}:{{ volume.path }}{% endfor %} --log-driver=k8s-file --log-opt=path=/var/log/podman/%N.log localhost/{{ image_tag }}
ExecStop=/usr/bin/podman stop -t 10 %N
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
