[Unit]
Description=DPL Timer {{ timer_name }} for {{ name }}

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists dpl-{{ name }}
ExecStart=/usr/bin/podman exec dpl-{{ name }} /bin/sh /opt/dpl/run.sh {{ timer_name }}
