[Unit]
Description=DPL nginx
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
KillMode=mixed
TimeoutStopFailureMode=abort
ExecStartPre=/bin/mkdir -p /var/log/podman
ExecStartPre=/usr/bin/podman network create --ignore dpl
ExecStartPre=-/usr/bin/rm -f %t/%N.cid
ExecStart=/usr/bin/podman run \
  --name dpl-nginx \
  --cidfile=%t/%N.cid \
  --replace --rm \
  --cgroups=split \
  --sdnotify=conmon \
  --network=dpl \
  -p 80:80 \
  -p 443:443 \
  -v dpl-nginx-www:{{ www_mount }} \
  -v dpl-nginx-conf:/etc/nginx/conf.d \
  --log-driver=k8s-file --log-opt=path=/var/log/podman/dpl-nginx.log \
  {{ image }}
ExecReload=/usr/bin/podman exec dpl-nginx nginx -s reload
ExecStop=/usr/bin/podman stop --cidfile=%t/%N.cid --ignore
ExecStopPost=-/usr/bin/podman rm -v -f --cidfile=%t/%N.cid --ignore
ExecStopPost=-/usr/bin/rm -f %t/%N.cid
Restart=always
RestartSec=2
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
