[Unit]
Description=dpl deployment service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=DPL_PORT={{.Port}}
ExecStart={{.ExecPath}}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
